* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.about-section {
    background: linear-gradient(to right, #494964, #6f6f89);
    padding: 40px;
}

.about-section h1 {
    text-align: center;
    margin-top: 30px;
    color: white;
}

.about-me-description {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.graduation-image img {
    margin-left: 30px;
    border-radius: 30px;
    width: 300px;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
}

.project-section {
    background-color: rgb(212, 204, 204);
    padding: 40px;
    margin-top: 30px;
}

.project-section h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.project-section p {
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.column {
    width: 33.33%;
}

.column > img {
    border-radius: 10px;
    width: 100%;
}

.contact-section {
    display: flex;
    background-color: #333;
    margin-top: 30px;
    justify-content: space-around;
    color: white;
    padding: 30px;
}

.contact-heading,
.correspondence-heading,
.follow-heading {
    text-align: center;
    padding-bottom: 10px;
}

.contact-details,
.correspondence-details,
.follow-details {
    text-align: center;
}

.contact-email,
.contact-phone,
.follow-youtube,
.follow-facebook,
.follow-twitter {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.contact-email:hover,
.contact-phone:hover,
.follow-youtube:hover,
.follow-facebook:hover,
.follow-twitter:hover {
    text-decoration: underline;
}

